@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dv0021');
  src:  url('fonts/icomoon.eot?dv0021#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dv0021') format('truetype'),
    url('fonts/icomoon.woff?dv0021') format('woff'),
    url('fonts/icomoon.svg?dv0021#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-medal:before {
  content: "\e900";
}
.icon-stack:before {
  content: "\e901";
}
.icon-archive:before {
  content: "\e902";
}
.icon-box:before {
  content: "\e903";
}
.icon-dollar:before {
  content: "\e904";
}
.icon-shipping:before {
  content: "\e905";
}
.icon-tags:before {
  content: "\e906";
}
.icon-clipboard:before {
  content: "\e907";
}
